<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
        <div class="navbar-header">
          <!-- <a class="navbar-brand" href="../">Peak Success</a> -->
          <i class="fas fa-mountain fa-4x text-primary"></i>
        </div>
    
      <div>
        <ul class="navbar-nav mr-auto form-inline">
          <li class="nav-item active">
            <a class="nav-link" href="../">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link"  href="../slides"><button class="btn btn-primary" type="button">Visual Abstract</button></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link">The mountains</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link">Climber leaderboard</a>
          </li>
        </ul>
      </div>
    </nav>



{%- if request.path == "/" %}
<header>
    <div class="overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
    </video>
    <div class="container h-100 ">
      <div class="d-flex h-100 text-center align-items-center">
        <div class="w-100 text-white">
          <h1 class="display-3">Can you reach the summit?</h1>
          <h3>Applying machine learning to evaluate expedition success</h3>
        </div>
      </div>
    </div>
</header>
{% endif %}