<div id="content" class="container my-5 ">
    <h1>Feature Engineering</h1>

    <div class="container py-5" align='center'>
        <img src="/static/feature_engineering.png" alt="..." width=85%  title="Feature Engineering">
    </div>

    <ul class="slidetext">
        <li>
            The peaks, expeditions, and climber tables were joined to yeild a new table with each row represeting a summit attempt. 
        </li>
        <li>
            We engineered new features based on past climber experience at the time of summit. 
        </li>
        <li>
            We perform transformations, including one-hot-encoding of categorical features, and binning of some numerical features.
        </li>
    </ul>

</div>
