<div id="content" class="container my-5 ">
    <h1>Predicting Expedition Outcome</h1>
    <h3>Applying machine learning to evaluate Himalayan expedition success</h3>
    <!-- <h1>Background</h1> -->
    <div class="row py-5">
        <div class="col">
            <h2>Motivation</h2>
            <p class="lead">There is a large economic and environmental burden associated with each expedition.</p>
            <p class='slidetext'>Financial burden
                    ~$30,000-$50,000 USD per individual </p>
            <p class='slidetext'>Risk -  Injury or death due to lack of experience</p>
            <p class='slidetext'>Environmental impact </p>
        </div>
        <div class="col">
                <img src="/static/mountain.jpg" alt="..." class="img-thumbnail" width=80%  title="Big Slide Mountain - ADK">
        </div>
    </div>
    
    <h2>Dataset</h2>
    <p class='slidetext'>The dataset used is the Himalayan Database, which was archived by Elizabeth Hawley, a longtime journalist based in Kathmandu.</p>
    <div class="row py-4">
            <div class="col-4" align="center">
                <h3>400+</h3> 
                <i class="fas fa-mountain fa-4x"></i>
            </div>
            <div class="col-4" align="center">
                <h3>73,000+</h3>
                <i class="fas fa-hiking fa-4x"></i>
            </div>
            <div class="col-4" align="center">
                <h3>9900+</h3>
                <i class="fas fa-campground fa-4x"></i>
            </div>

    </div>
    <!-- <p>The database spans a wide time-range:</p>
    <div class="container" align='center'>

        {% if d1_1 %}     {{ d1_1|safe }} {% endif %}
        {% if s1_1 %}     {{ s1_1|safe }} {% endif %}
    </div> -->

    <!-- <h4  class='text-success' align="center">Can we use this dataset to promote safe and responsible chioces in mountaineering?</h4> -->
</div>
