{% extends 'layout.html' %}
{% block body %}

<div class="container py-5 ">
    <form action="/action_page.php">
        First name:<br>
        <input type="text" id='inputtext' name="firstname" value="Mickey"><br>
     </form>
     <button type="button" onclick="addToArea()" >Fill Me!</button>
     <button type="button" onclick="clearArea()" >Clean me!</button>

    <textarea readonly rows="5" cols="30" id ="txtArea" ></textarea>

</div>

<script>

function addToArea(){
    var area = document.getElementById("txtArea");
    var text = document.getElementById("inputtext");

    var str = text.value 

    area.value = area.value + str +  '\n' 

}
function clearArea(){
    var area = document.getElementById("txtArea");
    area.value = '' 

}



</script>
 
{% endblock %}