{% extends 'layout.html' %}
{% block body %}

<div class="wrapper">
    <!-- <nav id="sidebar">
        <div class="btn-group-vertical mr-2" role="group" aria-label="First group">
                <button type="button" class="btn btn-dark">Background</button>
                <button type="button" class="btn btn-dark">Exploratory Analysis</button>
                <button type="button" class="btn btn-dark">Feature Engineering</button>
                <button type="button" class="btn btn-dark">Model Building</button>
        </div>
    </nav>  -->

    <div id="content" class="container my-5 ">
        <h1>Background</h1>
        <h2>Motivation</h2>
        <p class="lead">As an avid mountaineer, I have an interest in preserving some of the most inspiring biomes on our planet: <strong>Mountains</strong> </p>
        <p>Mountains currently face destruction and degradation due to improper practices and overuse by humans. </p>

        <h2>Dataset</h2>
        <p>The database is based on the expedition archives of Elizabeth Hawley, a longtime journalist based in Kathmandu, and expanded with additional sources.</p>
        <div class="row py-4">
                <div class="col-4" align="center">
                    <h3>465+</h3> 
                    <i class="fas fa-mountain fa-4x"></i>
                </div>
                <div class="col-4" align="center">
                    <h3>73,000+</h3>
                    <i class="fas fa-hiking fa-4x"></i>
                </div>
                <div class="col-4" align="center">
                    <h3>9900+</h3>
                    <i class="fas fa-campground fa-4x"></i>
                </div>

        </div>
        <p>The database spans a wide time-range:</p>


        <h4  class='text-success' align="center">Can we use this dataset to promote safe and responsible chioces in mountaineering?</h4>
    </div>

</div>
 
{% endblock %}