{% extends 'layout.html' %}

{% block body %}


{% if  results|length > 0 %}
<section class="my-5">
    <div class="container">
        <div class="col-md-8 mx-auto p-3 card_container rounded">
            {% if results == 1 %}
            <div class="alert alert-success" role="alert">
                <h4>Yes! You probably can make it to the summit! </h4>
            </div>
            {% else %}
            <div class="alert alert-danger" role="alert">
                <h4>No, you should hold off on this expedition... </h4>
            </div>
            {% endif %}

            <p>Our model suggests that you have a {{prob}}% chance of reaching the summit.</p>
            <div class="progress">
                <div class="progress-bar {% if results == 1 %} bg-success {% else %} bg-danger {% endif %}" role="progressbar" style="width: {{prob}}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p><small>Disclaimer: Predictions can be unreliable and should be not be used as the sole determinant in attempting any climb.</small></p>
        </div>
    </div>
</section>
{% endif %}
{% if s %}
<section class="my-5">
    <div class="container">
        <div class="col-md-8 mx-auto p-3 card_container rounded" align='center'>
            {% if d %}     {{ d|safe }} {% endif %}
            {% if s %}     {{ s|safe }} {% endif %}
        </div>
    </div>
</section>
{% endif %}
<section class="my-5">
        <div class="container">
            <div class="row justify-content-md-center">

                <div class="col-md-8 mx-5 p-3 card_container rounded">
                        {% include 'slides/prediction_form.html' %}  

                </div>

            </div>

        </div>
</section>

{% endblock %}