{% extends 'layout.html' %}
{% block body %}

<div class="container my-5 ">
    <div class="row mb-2">
        <h2> {{ info.name[0] }} </h2>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    <h5 class="card-title">Mountain statistics</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Height {{ info.height[0] }}m</li>
                    <li class="list-group-item">Rank in Himalayahs 4</li>
                    <!-- <li class="list-group-item">Vestibulum at eros</li> -->
                </ul>
            </div>
        </div>
        
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                        <h5 class="card-title">Mountain statistics</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Height 1000m</li>
                    <li class="list-group-item">Rank in Himalayahs 1</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
        </div>
        
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    <h5 class="card-title">Mountain statistics</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Height 1000m</li>
                    <li class="list-group-item">Rank in Himalayahs 1</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <h3>Vistors per year</h3>
        <div class="container">
            {% if the_div_1 %}     {{ the_div_1|safe }} {% endif %}
            {% if the_script_1 %}     {{ the_script_1|safe }} {% endif %}
        </div>
    </div>
</div>

{% endblock %}