{% extends 'layout.html' %}
{% block body %}

<div class="container my-5 ">
    <div class="row mb-2">
        <h1>Everest</h1>
    </div>
        <div class="row">
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                            <h5 class="card-title">Mountain statistics</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item">Height 1000m</li>
                    <li class="list-group-item">Rank in Himalayahs 1</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                </div>
            </div>
            
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                            <h5 class="card-title">Mountain statistics</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item">Height 1000m</li>
                    <li class="list-group-item">Rank in Himalayahs 1</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                </div>
            </div>
            
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                            <h5 class="card-title">Mountain statistics</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item">Height 1000m</li>
                    <li class="list-group-item">Rank in Himalayahs 1</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                </div>
            </div>
            

        </div>
    </div>
</div>

{% endblock %}